@using net_core_web_pointofsales_poc.Extensions;
@model ProductsModel
@{
    ViewData["Title"] = "Home Page";
}

<hr />

@foreach (var productRow in Model.Products.Split(4))
{
    <div class="row">
        @foreach (var product in productRow)
        {
            <div class="col-md-3">
                <a href="@Url.Action("ShowProduct", "Home", product)" title="Product" class="links">
                    <img class="img-responsive" alt="product" src="@Url.Content(product.ImageUrl)">
                </a>
                
                <p><span>@product.Name</span></p>                
                <p><span>@string.Format("{0:C}", product.Price)</span></p>
            </div>
        }
    </div>
}

